{
  # Node name
  node = "binkus";
  wings = ''
    # Wings configuration
  '';
  pubkey = "* SSH public key *";
  net = {
    interfaces."* interface *".ipv4.addresses = [{
      address = "* address *";
      prefixLength = 24;
    }];
    gateway = "* network gateway *";
  };
}
